# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Machine learning models
*.pt
*.h5
*.onnx

# Output data
snapshots/
*.db
*.log

# Jupyter artifacts
.ipynb_checkpoints/

# OS-specific
.DS_Store
